/* Profile Picture */
.ppformsg {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
    margin-left: 10px;
    /* border-left: 3px solid white; */
    /* background-color: white; */
}