.component{
    height: 80vh;
    overflow-y: scroll;
    background-image: url('../../../assets/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%; 
}

.singlemessage {
    padding: 1px 50px;
}