.menu-section {
    /* min-width: 450px; */
    min-width: 250px;
    /* max-width: 23%; */
}

.chat-section {
    display: flex;
}

.empty-chat {
    width: 73%;
    min-width: 300px;
    height: 100%;
    border-left: 1px solid rgba(0, 0, 0, 0.14);
}