.request-user-info {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    margin-bottom: 16px;
    margin: 8px;
    height: 250px;
    width: 250px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
  }
  
  .request-user-info:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  
  .request-user-info img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-bottom: 18px;
  }
  
  .container-request {
    width: 100%;
  }
  
  .container-request div {
    font-size: 18px;
    font-weight: bold;
    color: #333;
  }
  
  .send-request-btn {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    margin-left: auto;
  }
  
  .send-request-btn:hover {
    background-color: #45a049;
  }





  .friend-portion {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start; 
}


.container-request {
    width: 100%;
}

.container-request div {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    margin-bottom: 8px;
}

.send-request-btn {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    margin-top: auto; 
}

.send-request-btn:hover {
    background-color: #45a049;
}










.friend-portion {
    width: 80%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* Create columns with a minimum width of 250px and adjust the number of columns dynamically */
    grid-gap: 16px; /* Add gap between grid items */
    justify-items: center; /* Center items along the row axis */
}

.request-user-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
}

.request-user-info:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.request-user-info img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-bottom: 12px;
}

.container-request {
    width: 100%;
}

.container-request div {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    margin-bottom: 8px;
}

.send-request-btn {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    margin-top: auto;
}

.send-request-btn:hover {
    background-color: #45a049;
}
